---
title: Ravenous Creative
layout: homepage
---

<div class="homepage__video-logo">
    <div class="homepage_social_links">
    <% link_to 'http://www.instagram.com' do %>
      <%= image_tag 'insta_btn.svg', :width => '35', :height => '35', :class => 'homepage_btn' %>
    <% end %>
    <% link_to 'http://www.twitter.com' do %>
      <%= image_tag 'twit_btn.svg', :width => '35', :height => '35', :class => 'homepage_btn' %>
    <% end %>
    <% link_to 'http://www.dribbble.com' do %>
      <%= image_tag 'dribb_btn.svg', :width => '35', :height => '35', :class => 'homepage_btn' %>
    <% end %>
    <% link_to 'http://www.behance.com' do %>
      <%= image_tag 'behance_btn.svg', :width => '35', :height => '35', :class => 'homepage_btn' %>
    <% end %>
    <% link_to 'http://www.github.com' do %>
      <%= image_tag 'github_btn.svg', :width => '35', :height => '35', :class => 'homepage_btn' %>
    <% end %>
  </div>
<%= image_tag 'logo__full--display.svg', :class => 'rvnsc__logo' %>

</div>
